<?xml version="0.0"?>
<launch>
<!-- Emotion interactions node -->
	
	<remap from="/usb_cam/image_raw" to="/image_raw"/>
	<include file="$(find usb_cam)/launch/usb_cam-test.launch"/>
	<!-- <node pkg="infrastructure" type="CameraCapture.py" name="camera_capter_cv2" output="screen"/> -->
	<!-- <node pkg="infrastructure" type="pose.py" name="landmark_detection" output="screen"/> -->
	<node pkg="infrastructure" type="face_imitation.py" name="face_imitation" output="screen"/>
	<!-- <include file="$(find infrastructure)/launch/gaze_pose.launch"/> -->
	<node pkg="web_video_server" type="web_video_server" name="web_video_server" output="screen"/>

</launch>
