<?xml version="1.0"?>
<launch>
<!-- Emotion interactions node -->
	
	<remap from="/usb_cam/image_raw" to="/image_raw"/>
	<include file="$(find usb_cam)/launch/usb_cam-test.launch"/>
	<node pkg="infrastructure" type="CameraCapture.py" name="camera_capter_cv2" output="screen"/>
	<!-- <node pkg="infrastructure" type="pose.py" name="landmark_detection" output="screen"/>
	<include file="$(find infrastructure)/launch/gaze_pose.launch"/> -->

	<!-- Streaming a video from the ROS server to the client -->
    <!-- <include file="$(find video_stream_opencv)/launch/camera.launch">
        <arg name="video_stream_provider" value="0" />
        <arg name="visualize" value="false" />
    </include> -->
</launch>
