<?xml version="1.0"?>
<launch>
  <node pkg="infrastructure" type="speech_emotion_analysis_node" name="speech_emotion_analysis_node" output="screen">
    <!-- <param name="speech_emotion_analysis_node/param1" value="param1_value"/>
    <param name="speech_emotion_analysis_node/param2" value="param2_value"/> -->
  </node> 
  <node pkg="infrastructure" type="audio_capture.py" name="audio_capture" output="screen"/>
</launch>