.joystick-container{
  z-index: 100;
  opacity: 0;
  bottom: 311px;
  -webkit-transition: opacity, -webkit-transform;
  transition: opacity, -webkit-transform;
  transition: transform, opacity;
  transition: transform, opacity, -webkit-transform;
  -webkit-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.35, -0.59, 0.47, 0.97);
  left: 253px;
  transition-timing-function: cubic-bezier(0.35, -0.59, 0.47, 0.97);
  /* display:flex; */
  position: fixed;
}
.joystick-container.active{
  transition: ease-in-out 0.5s;
  opacity: 1;
  -webkit-transform: translate3d(160px, -44px, 28px);
  transform: translate3d(160px, -44px, 28px);
  -webkit-transition-timing-function: cubic-bezier(0.35, 0.03, 0.47, 1.59);
  transition-timing-function: cubic-bezier(0.35, 0.03, 0.47, 1.59);
}

#joystick {
	width: 150px;
	height: 150px;
	background: #ffffff;
	margin: 20px auto;
	position: absolute;
	border-radius: 148px;
	box-shadow: inset 0px -1px 20px 1px #000000e0;
}
#knob {
	cursor: move;
	border-radius: 100%;
	width: 85px;
	height: 85px;
	position: relative;
	-webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
	background: #8acaff;
	background: -moz-radial-gradient(center, ellipse cover,  #8acaff 10%,#1b7d92 101%);
	background: -webkit-radial-gradient(center, ellipse cover, #8acaff 10%,#1b7d92 101%);
	background: radial-gradient(ellipse at center, #8acaff 10%,#1b7d92 101%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8acaff', endColorstr='#1b7d92',GradientType=1 );
}
#console {
  color: #000000;
  text-align: -webkit-left;
  font-family: ui-sans-serif;
  border: 1px solid;
  padding: 6px;
  bottom: 145px;
  background: #b7b2b29c;
  width: 200px;
}

.no-select {
  user-select: none;
}

@-moz-keyframes hover {
  0% {
    top: 200px;
  }

  50% {
    top: 190px;
  }

  100% {
    top: 200px;
  }
}
@-webkit-keyframes hover {
  0% {
    top: 200px;
  }

  50% {
    top: 190px;
  }

  100% {
    top: 200px;
  }
}
@-o-keyframes hover {
  0% {
    top: 200px;
  }

  50% {
    top: 190px;
  }

  100% {
    top: 200px;
  }
}
@-ms-keyframes hover {
  0% {
    top: 200px;
  }

  50% {
    top: 190px;
  }

  100% {
    top: 200px;
  }
}
@keyframes hover {
  0% {
    top: 200px;
  }

  50% {
    top: 190px;
  }

  100% {
    top: 200px;
  }
}
@-moz-keyframes shadow {
  0% {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    filter: blur(5px);
  }

  50% {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    filter: blur(10px);
  }

  100% {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    filter: blur(5px);
  }
}
@-webkit-keyframes shadow {
  0% {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    filter: blur(5px);
  }

  50% {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    filter: blur(10px);
  }

  100% {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    filter: blur(5px);
  }
}
@-o-keyframes shadow {
  0% {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    filter: blur(5px);
  }

  50% {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    filter: blur(10px);
  }

  100% {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    filter: blur(5px);
  }
}
@-ms-keyframes shadow {
  0% {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    filter: blur(5px);
  }

  50% {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    filter: blur(10px);
  }

  100% {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    filter: blur(5px);
  }
}
@keyframes shadow {
  0% {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    filter: blur(5px);
  }

  50% {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    filter: blur(10px);
  }

  100% {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    filter: blur(5px);
  }
}


body { 
  background-image: url('http://site-blogmanager.com/background.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  background-size: cover;
  height: 100%;
  min-height: 1000px;
  overflow: hidden;
}
.perso {
    position: absolute;
    width: 90px;
    height: 270px;
    top: 0;
    left: 0;
}
.eve {
  display: block;
  position: absolute;
  left: 50%;
  width: 70px;
  margin-left: -35px;
  -webkit-animation-name: hover;
  -moz-animation-name: hover;
  animation-name: hover;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.eve .body,
.eve .head {
  position: absolute;
  left: 0;
  background-color: #fff;
}
.eve .body {
  bottom: 0;
  background-color: #fff;
  width: 100%;
  height: 105px;
  z-index: 1;
  -webkit-border-radius: 50% 50% 50% 50%/20% 20% 70% 70%;
  -moz-border-radius: 50% 50% 50% 50%/20% 20% 70% 70%;
  border-radius: 50% 50% 50% 50%/20% 20% 70% 70%;
  -webkit-box-shadow: inset -1px 0 1px 1px rgba(255,255,255,0.5), inset -3px -3px 15px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: inset -1px 0 1px 1px rgba(255,255,255,0.5), inset -3px -3px 15px 1px rgba(0,0,0,0.2);
  box-shadow: inset -1px 0 1px 1px rgba(255,255,255,0.5), inset -3px -3px 15px 1px rgba(0,0,0,0.2);
}
.eve .body:before,
.eve .body:after {
  content: "";
  position: absolute;
  height: 63px;
  background-color: #fff;
  width: 18%;
  top: 15%;
  z-index: 9;
}

.eve .body:before {
  left: -8%;
  -webkit-border-radius: 100% 0 32% 69%/20% 20% 70% 70%;
  -moz-border-radius: 100% 0 32% 69%/20% 20% 70% 70%;
  border-radius: 100% 0 32% 69%/20% 20% 70% 70%;
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  transform: rotate(-4deg);
  -webkit-box-shadow: inset 3px 0 5px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 3px 0 5px 1px rgba(0,0,0,0.2);
  box-shadow: inset 3px 0 5px 1px rgba(0,0,0,0.2);
}
.eve .body:after {
  right: -8%;
  -webkit-border-radius: 32% 69% 100% 0/20% 20% 70% 70%;
  -moz-border-radius: 32% 69% 100% 0/20% 20% 70% 70%;
  border-radius: 32% 69% 100% 0/20% 20% 70% 70%;
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  transform: rotate(4deg);
  -webkit-box-shadow: inset -3px 0 5px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: inset -3px 0 5px 1px rgba(0,0,0,0.2);
  box-shadow: inset -3px 0 5px 1px rgba(0,0,0,0.2);
}
.eve .body .headshadow {
  width: 100%;
  position: absolute;
  top: 6%;
  height: 21px;
  left: 50%;
  margin-left: -50%;
  background-color: #fff;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  border-bottom: 1px solid #fff;
  -webkit-box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.5), inset 0 5px 10px 3px #bbb, 0 1px 0px 1px rgba(255,255,255,0.7);
  -moz-box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.5), inset 0 5px 10px 3px #bbb, 0 1px 0px 1px rgba(255,255,255,0.7);
  box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.5), inset 0 5px 10px 3px #bbb, 0 1px 0px 1px rgba(255,255,255,0.7);
}
.eve .head {
  bottom: 88px;
  height: 49px;
  width: 100%;
  z-index: 2;
  -webkit-border-radius: 50% 50% 50% 50%/70% 70% 25% 25%;
  -moz-border-radius: 50% 50% 50% 50%/70% 70% 25% 25%;
  border-radius: 50% 50% 50% 50%/70% 70% 25% 25%;
  -webkit-box-shadow: inset -1px 0 1px 1px rgba(255,255,255,0.5), inset -2px -3px 15px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: inset -1px 0 1px 1px rgba(255,255,255,0.5), inset -2px -3px 15px 1px rgba(0,0,0,0.2);
  box-shadow: inset -1px 0 1px 1px rgba(255,255,255,0.5), inset -2px -3px 15px 1px rgba(0,0,0,0.2);
}
.eve .head .face {
  position: absolute;
  bottom: 16%; /*cri*/
  left: 50%; /*cri*/
  margin-left: -35%;
  width: 70%;
  height: 28px;
  background-color: #000;
  -webkit-border-radius: 50% 50% 50% 50%/70% 70% 40% 40%;
  -moz-border-radius: 50% 50% 50% 50%/70% 70% 40% 40%;
  border-radius: 50% 50% 50% 50%/70% 70% 40% 40%;
}
.eve .head .face:before,
.eve .head .face:after {
  content: "";
  background-color: #137abd;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  width: 12.6px;
  height: 9.1px;
  position: absolute;
  top: 40%;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  filter: blur(1px);
}
.eve .head .face:before {
  left: 18%;
}
.eve .head .face:after {
  right: 18%;
}
.shadow {
  position: absolute;
  width: 70px;
  height: 20px;
  background-color: rgba(0,0,0,0.3);
  left: 50%;
  margin-left: -35px;
  top: 210px;
  border-radius: 100%;
  -webkit-animation-name: shadow;
  -moz-animation-name: shadow;
  animation-name: shadow;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.control {
    position: absolute;
    top: 93px;
    left: 18%;
    width: 220px;
    height: 90px;
    scale: 0.65;
}


/*
========
CIRCULAR
========
*/
.c-rng--circular {
  --circle-bgc: #fff;
  --circle-size: 200px;
  --track-bgc: hsl(219, 20%, 85%);
  --track-fill: cornflowerblue;
  --thumb-size: 30px;

  --gradient-start: 0deg;
  --gradient-end: 0deg;

  background-image: conic-gradient(
    var(--track-bgc) 0,
    var(--track-bgc) var(--gradient-start),
    var(--track-fill) var(--gradient-start),
    var(--track-fill) var(--gradient-end),
    var(--track-bgc) var(--gradient-end),
    var(--track-bgc)
  );
  border-radius: 50%;
  display: inline-block;
  height: var(--circle-size);
  margin: 0.25rem;
  position: relative;
  touch-action: none;
  width: var(--circle-size);
}
.c-rng--circular::before {
  align-items: center;
  background-color: var(--circle-bgc);
  border-radius: 50%;
  content: attr(data-value);
  display: flex;
  font-family: ui-sans-serif, ui-system, sans-serif;
  font-size: 2rem;
  height: calc(var(--circle-size) - (var(--thumb-size) * 2));
  justify-content: center;
  left: var(--thumb-size);
  position: absolute;
  top: var(--thumb-size);
  width: calc(var(--circle-size) - (var(--thumb-size) * 2));
}

.c-rng--circular-output {
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  height: var(--thumb-size);
  margin-top: calc(var(--thumb-size) / -2);
  transform: rotate(var(--angle));
  transform-origin: center left;
  width: 50%;
  z-index: 1;
}
.c-rng--circular-output::before {
  background-color: var(--thumb-bgc, #fff);
  border: var(--thumb-bdw, 2px) solid var(--track-fill);
  border-radius: 50%;
  box-shadow: var(--thumb-bxsh, none);
  box-sizing: border-box;
  content: "";
  cursor: grab;
  display: inline-block;
  height: var(--thumb-size);
  position: absolute;
  right: 0;
  width: var(--thumb-size);
}
